[access]
address = "http://localhost:8080"
username = "kcadmin"
password = "kcpwd"
realm = "master"
defaultClient = "example"

[realm.description]
displayname = "Example Client"
displaynameHTML = '<div class="kc-logo-text"><span>Example Client</span></div>'
theme = "beautiful"

[email]
host = "localhost"
port = "25"
from.label = "Authentification Signaux Faibles"
from.address = "noreply@localhost"

[users]
file = "./userBase.xlsx"

[[client.example]]
adminUrl="https://wekan.signaux-faibles.beta.gouv.fr/"
attributes = { "login_theme" = "beautiful" }
authorizationServicesEnabled = true
directAccessGrantsEnabled = true
implicitFlowEnabled = true
publicClient = false
redirectUris = [
    "https://uri.to.redirect/"
]
webOrigins = [
    "https://first.origin/",
    "https://second.origin/"
]
rootUrl = "https://root.uri/"
serviceAccountsEnabled = true
